#TelaConta{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#TelaConta h1{
    font-size: 20px;
    border-bottom: 2px solid rgb(255, 20, 255);
    text-align: left;
    padding: 0px 10px;
}

#TelaContaInfo{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(255, 243, 176);
}

#TelaContaInfo p{
    font-size: 18px;
}

#TelaContaInfo p b{
    font-size: 18px;
}

#TelaConta button{
    margin: 10px 0px;
    padding: 8px;
    outline: 0px;
    border: 1px solid black;
    font-size: 16px;
    width: 100%;
}

#TelaContaVoltarBtn{
    background-color: rgb(174, 229, 255);
}

#TelaContaSairBtn{
    background-color: rgb(255, 142, 142);
}