#TelaLogin{
    height: 100%;
    display: flex;
    flex-direction: row;
}

#TelaLoginBackgruond{
    position: absolute;
    background-size: cover;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}

#TelaLoginLogo{
    flex:1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#TelaLoginLogo img{
    width: 60%;
    padding: 0px 20%;
    border-right: 3px solid rgb(163, 139, 4);
    user-select: none;
}

#TelaLoginSideForm{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#TelaLoginSideForm form{
    width: 40%;
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(245, 234, 206);
    box-shadow: 0 0 30px 30px rgb(245, 234, 206);
}

#TelaLoginSideForm form label{
    margin: 5px 0;
    font-size: 16px;
    width: 200px;
    display: flex;
    text-align: left;
    flex-direction: column;
}

#TelaLoginSideForm form label input{
    padding: 5px;
    border: 1px solid black;
    font-size: 16px;
}

#TelaLoginSideForm form a{
    margin: 15px 0;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 0, 0);
}

#TelaLoginSideForm form .TelaLoginInput{
    margin: 5px 0;
    padding: 5px;
    width: 200px;
    outline: 0px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid rgb(168, 121, 0);
    background-color: rgb(214, 182, 2);
}