#TelaDetalhes {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 30px;
	overflow: hidden;
	user-select: none;
}

#TelaDetalhesBoxes {
	height: 90%;
    width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

#TelaDetalhes .TelaDetalhesDiv {
	overflow: auto;
	box-sizing: border-box;
	border: 2px solid rgb(184, 9, 184);
	border-radius: 10px;
	padding: 20px;
}